@import url('https://fonts.googleapis./css?family=Advent+Pro|Dancing+Script&display=swap');

body{
  font-family: 'Advent Pro', sans-serfi;
  padding: 0;
  margin: 0;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
h2{
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}
/*navbar*/
nav{
  overflow: hidden;
  background-color: blanchedalmond;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
header li{
  float: right;
  font-size: 1.2em;
}
header li a{
  text-decoration-color: none;
  display: block;
  text-align: center;
  padding: 15px 16px 13px 16px;
}
#logo{
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  float: left;
}
/*background*/
#BackgroundPicture{
  padding: 60px;
  background: url(media/logo.png) no-repeat fixed 50% 20%;
  background-size: cover;
  height: 799px;
}
h1{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: aliceblue;
  font-size: 6em;
  margin: 90px;
  text-shadow: 3px 5px 1px rgb(230, 154, 13);
}
#FirstSeparation{
  height: 1.3px;
  width: 35%;
  margin: -3px auto;
  background-color: #fffae1;
}
/*welcome*/
#Welcome{
  background-color: #fffae1;
  padding: 10px 0 100px 0;
}
#TextIntro{
  padding: 0px 20%;
}
#produits{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 25%;
}
.ProduitsPictures h4{
  font-family: 'Dancing Script' cursive;
  text-align: center;
  font-size: 1.8em;
  margin: 15px;
  font-weight: 300;
}
.ProduitsPictures img{
  border-radius: 10px;
  box-shadow: 3px 4px 5px 4px rbga(0,0,0,0.6);
  max-width: 250px;
}
.ProduitsPictures img:hover{
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0,8s ease-in-out;
}
/*details produits*/
#Parfum50{
  height: 1000px;
  background-color: #f1f1f6;
  padding: 1px 2%;
  display: flex;
}
#Parfum50 h4{
  padding-top: 45px;
  margin: 10px 20%;
  text-align: justify;
}
#Parfum50 li{
  margin: 65px 100px 0 100px;
  height: 226px;
  width: 55%;
}/*bas de page*/
footer{
  background-color: #524a3a;
  color: #fffae1;
  padding: 20px 0 10px 0;
  text-align: center;
}
form{
  margin: 0 auto;
  max-width: 900px;
}
input, textarea, button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0;
  font-size: 1em;
  font-family: 'Advent Pro' sans-serif;
  border-radius: 8px;
}
textarea{
  height: 120px;
}
button{
  font-size: 1.3em;
  background-color: #fffae1;
}
button:hover{
  background-color: #e55039;
  color: #fffae1;
  cursor: pointer;
  transition: 0,3s ease-in-out;
}
#SecondSeparation{
height: 1px;
width: 75%;
background-color: #fffae1;
margin: 60px auto;
}
#CopyrightAndIcons{
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;
}
#Copyright{
  width: 50%;
  text-align: left;
  color: #fffae1;
}
#icons{
  width: 50%;
  text-align: right;
}
#icons a{
  display: inline-block;
  padding: 0 15px;
  font-size: 1.3em;
  color: #fffae1;
}
#icons a:hover{
  transform: scale(1.5);
  transition: 0,1s;
}