@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
  min-height: 100vh;
  background: rgb(37, 37, 37);
  color: white;
  padding: 10px;
}
nav{
  display: grid;
  grid-template-columns: 50% 50%;
}
nav ul{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.header{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 30px auto;
}
h1{
  text-transform: uppercase;
  font-size: 5rem;
  /*color: rgb(99, 24, 248);*/
}
h3{
  color: rgb(99, 24, 248);
  font-size: 1.7rem;
}
.header-right{
  width: 50%;
}
#modem{
  width: 100%;
  margin: 0 auto;
}
.infos{
  display: flex;
  border-radius: 10px;
  background: rgb(19, 19, 19);
}
.info-left{
  width: 33%;
}
.btn-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button{
  border: none;
  background: rgb(99, 24, 248);
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}
.info-right{
  width: 67%;
}
.investors{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.img-container{
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}
.img-container img{
  height: 60px;
}

@media screen and (max-width: 770px) {
  body{
    /* background: rgb(254, 138, 29); */
  }
  h1{
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
  p{
    font-size: 0.8rem;
  }
  button{
    background: rgb(254, 138, 29);
  }
}

@media screen and (max-width: 590px) {
  nav ul{
    font-size: 0.7rem;
  }
  h1{
    font-size: 1.7rem;
  }
  .header{
    display: block;
  }
  .infos{
    display: block;
  }
  .info-left,
  .info-right{
    width: 100%;
    padding: 3px;
  }
  h4{
    text-align: center;
  }
  .btn-container,
  .investors{
    align-items: center;
  }
}